body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.container {
  width: 95%;
  padding: 20px;
  border-radius: 5px;
}

header {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

#logo {
  display: flex;
  font-family: "Roboto", sans-serif;
}

#logo img {
  height: 250px;
  width: 250px;
}

#logo p {
  color: #545be8;
  font-weight: bold;
  margin: 12px;
}

.flex-item {
  width: 100%;
  align-items: center;
}

#navbar nav {
  display: flex;
  gap: 16px;
  font-size: 16px;
  color: #101928;
  justify-content: center;
  cursor: pointer;
}

#userButton {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.transparentButton {
  padding: 6px 24px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #545be8;
  border: none;
  background-color: transparent;
}

.purpleButton {
  padding: 6px 24px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #545be8;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #ffffff;
  border: none;
}

#carousel {
  background-color: #f5f5f5;
  display: flex;
  gap: 14px;
}

#titleDesc {
  color: #545be8;
  font-weight: normal;
  margin-bottom: 8px;
}

#desc h1 {
  width: 450px;
  font-size: 48px;
  color: #141e32;
  font-size: bold;
  margin-top: 0px;
  margin-bottom: 8px;
}

span {
  color: #545be8;
  font-weight: bold;
}

#aboutDesc {
  color: #969696;
  font-size: 16px;
  width: 450px;
  margin-bottom: 16px;
}

.flex {
  display: flex;
  gap: 12px;
  justify-content: center;
}

button i {
  color: #f0c932;
  font-size: 48px;
}

.card {
  margin-top: 20px;
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #545be8;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  width: 32px;
  height: 28px;
  background-color: #ffffff;
  color: #f0c932;
  text-align: center;
  padding: 12px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 100%;
  line-height: 1;
}

.cardHeader i {
  text-align: center;
  align-content: center;
  font-size: 24px;
}

.cardBody {
  padding: 20px;
  flex: 1;
}

.cardBodyTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: "inter", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}

.cardBodyDesc {
  font-size: 14px;
  color: #dddddd;
  margin-bottom: 10px;
}

#arrowCardButton {
  display: flex;
  justify-content: flex-end;
}

#arrowCardButton button {
  border-radius: 100%;
  border: none;
  background-color: #f1cc4a;
  padding: 8px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

#arrowCardButton i {
  color: #ffffff;
}

section {
  margin-bottom: 48px;
}

#selectedCourse {
  background-image: linear-gradient(#545be8, #272db0);
}

#selectedCourse img {
  width: 400px;
  height: 400px;
  margin: 24px;
}

#selectedCourse h1 {
  color: #ffffff;
  font-weight: bold;
}

#selectedCourse #aboutDesc {
  color: #ffffff;
}

#selectedCourse #titleDesc {
  font-family: "Inter", sans-serif;
  color: #f0c932;
  text-transform: uppercase;
}

.flexNumber {
  display: flex;
  font-family: "inter", sans-serif;
  gap: 32px;
  margin: 0px;
  text-align: center;
}

.flexNumber .number {
  color: #f0c932;
  font-weight: bold;
  margin-bottom: 0px;
  justify-content: space-between;
}

.flexNumber .text {
  color: #ffffff;
  margin: 2px 0px;
}

.imageCardGroup {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Membagi grid menjadi 2 kolom */
  grid-template-rows: 1fr 1fr; /* Membagi grid menjadi 2 baris */
  gap: 10px;
}

.cardImage {
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  width: 360px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.label {
  position: absolute;
  top: 10px;
  background-color: #545be8;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

.imageCard {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.imageCardDescription {
  padding: 0px 10px;
}

.imageCardHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.imageCardHeader h3 {
  text-align: left;
  color: #141e32;
  margin: 0px;
  font-weight: bold;
}

.imageCardHeader p {
  text-align: right;
  font-size: small;
  /* margin: 2px 0px 0px 0px; */
  margin-top: 4px;
  color: #545be8;
}

.imageCardBody {
  display: flex;
  gap: 16px;
}

.imageCardBody p {
  color: #969696;
  margin-bottom: 16px;
  margin-top: 0px;
}

#availableCourse aside {
  padding: 20px;
}

#testimonial h2 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #0d1222;
  margin: 0px;
}

.testimonialCard {
  width: 50%;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 24px;
  font-family: "Poppins", sans-serif;
}

.profilePicture img {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.testimonialHeader {
  display: flex;
  margin-bottom: 10px;
}

.testimonialRating i {
  color: #f1cc4a;
}

.profileDescription {
  margin-top: 4px;
  margin-left: 8px;
}

.icon-wrapper {
  border: 1px solid #ffffff;
  width: 24px;
  text-align: center;
  padding: 5px;
}

.profileDescription p {
  margin: 0px;
}

footer {
  background-color: #393e46;
  color: #f4f4f4;
  justify-content: left;
}

#footerLogo {
  display: flex;
  gap: 8px;
  font-family: "Roboto", sans-serif;
}

#footerLogo img {
  height: 24px;
  width: 24px;
}

#footerLogo p {
  margin: 5px 0;
}

#footerDesc {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 16px;
  width: 80%;
}

.footer-list {
  margin: 0px 20px;
  font-weight: normal;
  width: max-content;
}

.footer-list h3 {
  margin: 0;
  font-weight: bold;
}

/* Penyesuaian untuk layar berukuran kecil */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  #logo {
    justify-content: center;
  }

  #navbar nav {
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
  }

  #userButton {
    justify-content: center;
    margin-top: 10px;
  }

  .flexNumber {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .flexNumber div {
    margin-bottom: 10px;
  }

  .imageCardGroup {
    grid-template-columns: 1fr;
  }

  .testimonialCard {
    width: 100%;
  }

  .footer-list {
    text-align: center;
    margin: 20px 0;
  }
}
